<div class="skin_page">
    <div class="container">
        <div class="skin" *ngFor="let skin of skins" (click)="selectSkin(skin)" >
            <h5 class="title">{{skin.name}}</h5>
            <div class="skin_img">
                <img src="{{getURl(skin.num)}}" alt="{{_champion.name}}" />
            </div>
        </div>
    </div>

    <div class="show_skin" *ngIf="selectedSkin">
        <h2 class="title">{{selectedSkin.name}}</h2>
        <div  class="skin">
            <img src="{{getURl(selectedSkin.num)}}" alt="{{_champion.name}}" />
        </div>
    </div>
</div>