
.header {
    width: 100%;
    text-align: center;
}

.container {
    margin: 1rem;
    display: flex;
    orientation: row;
    flex-wrap: wrap;
    justify-content: center;

    .lore {
        margin: 1rem;
        align-self: center;
        min-width: 180px;
        max-width: 80%;
        
        p::first-letter {
            font-size: 2rem;
            font-weight: bold;
        }
    }

        .splash {
            align-self: center;
            // max-width: 308px;
        }
}