$main-color: #fff;
$background-color: #1A2238;
$medium-color: #9DAAF2;
$emphasis-color: #FF6A3D;
$contrast-color: #F4DB7D;
$placeholder-color: #095484;

$default-padding: 10px;
$default-margin: 0px;
$default-content-margin: 4vw;
$border-radius: 2px;

$font-title-size: 1.2rem;
