<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{champion.name}}</mat-card-title>
        <mat-card-subtitle>{{champion.title}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{champion.imageUrl}}" alt="Photo of {{champion.id}}">
    <mat-card-content>
        <p>
            {{champion.blurb}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['/champion', champion.id]" >show more...</button>
    </mat-card-actions>
</mat-card>