@use '../../styling/variables' as *;

mat-card.champion-card {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: $background-color;
    color: $main-color;
        

        mat-card-header {
            color: $main-color;
            mat-card-subtitle {
                color: $main-color;
            }
        }
}

mat-card {
    transition: transform 0.5s;
    height: calc(100% - 40px);

    .show_more {
        background: $emphasis-color;
    }

        .mat-card-actions {
            position: absolute;
            bottom: 15px;
        }
}

mat-card:hover {
   img {
        transform: scale(0.95);
        transition-duration: 1s;
    }

    .show_more {
        background: $contrast-color;
        color: $emphasis-color;
    }

}

mat-card-content {
    max-height: 216px;
    text-overflow: ellipsis;
}

