<div class="container">
    <div class="ally_tips_section">
        <div class="title">{{'ally_Tips' | translate }}</div>
        <div class="content">
            <ul>
                <li *ngFor="let tip of champion.allyTips"> {{tip}} </li>
            </ul>
        </div>
    </div>
    <div class="enemy_tips_section">
        <div class="title">{{'enemy_Tips' | translate }}</div>
        <div class="content">
            <ul>
                <li *ngFor="let tip of champion.enemyTips"> {{tip}} </li>
            </ul>
        </div>
    </div>
</div>