<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Ally Tips</mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let tip of champion.allyTips" > {{tip}} </li>
                </ul>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Enemy Tips</mat-card-title>
            <mat-card-content>
                <ul>
                    <li *ngFor="let tip of champion.enemyTips"> {{tip}} </li>
                </ul>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>