@use '../../styling/variables';
@use '../../styling/input';
@use '../../styling/select';

app-champion-card {
    width: 300px;
    height: 600px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-between;
    gap: .5rem;
    margin: 1rem;
}

.search_area {
    padding: variables.$default-padding;
    background-color: variables.$background-color;
    display: flex;
    align-items: center;

    .input_box {
        font-size: 1.2rem;
        text-align: center;
        width: 50%;
        margin: auto;
    }
}
