@use '../styling/variables' as *;

@mixin margin_padding {
    margin: $default-margin;
    padding: $default-padding;
}

:host {
    background: $main-background;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    header {
        height: 3vh;
        min-height: 40px;
        display: flex;
        align-items: center;
        width: 100%;
        background: $background-color;
        color: $main-color;

        .logo {
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 20px;
        }

        .title {
            width: 20%;
            align-self: center;
            cursor: pointer;
            @include margin_padding;

        }

        .nav {
            width: 80%;
            align-self: center;
            @include margin_padding;
        }

        .home_icon {
            margin-left: 0.5rem;
        }
    }

    article {
        background-image: var(--background);
        width: 100%;
        overflow: auto;
    }

    .adjust {
        flex-grow: 1;
    }

    .footer {
        padding: 1rem;
        height: auto;
        width: 100%;
        background: $background-color;
        color: $main-color;
    }
}