@use '../styling/variables' as *;

@mixin margin_padding{
    margin: $default-margin;
    padding: $default-padding;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    header {
        height: 3vh;
        min-height: 40px;
        display: flex;
        align-items: center;
        width: 100%;
        background: $background-color;
        color: $main-color;
    
        .logo {
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 50%;
            margin-right: 20px;
        }
    
        .title {
            width: 20%;
            align-self: center;
            cursor: pointer;
            @include margin_padding;
            
        }
    
        .nav {
            width: 80%;
            align-self: center;
            @include margin_padding;
        }
    }
    
    article {
        background-image: var(--background);
        width: 100%;
        overflow: auto;
    }
    
    .adjust {
        flex-grow: 1;
    }    
    .footer {
        height: auto;
        min-height: 6vw;
        width: 100%;
        background: $background-color;
        color: $main-color;
    }
}

