@use '../styling/variables';

@mixin margin_padding{
    margin: variables.$default-margin;
    padding: variables.$default-padding;
}

header {
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: variables.$background-color;
    color: variables.$main-color;

    .logo {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 20px;
    }

    .title {
        width: 20%;
        align-self: center;
        cursor: pointer;
        @include margin_padding;
        
    }

    .nav {
        width: 80%;
        align-self: center;
        @include margin_padding;
    }
}

article {
    background-image: var(--background);
    height: 90vh;
    width: 100vw;
    overflow: auto;
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: variables.$background-color;
    color: variables.$main-color;
}

